<div class="p-4 bg-gray-600">
<span class= "p-3 bg-gray-700">
  {{#if this.Playback.isPlaying}}
 <button
    class="bg-white p-1 text-sm rounded"
    {{on "click" this.Playback.stop}}>
    ❚❚
  </button>

    {{else}}
    <button
       class="bg-white p-1 text-sm rounded"
    {{on "click" this.Playback.play}}>
      ⏵
    </button>
  {{/if}}

  <span class= "p-2 m-1 bg-gray-200 text-sm rounded">
    bar: {{this.Playback.onbar}} step: {{this.Playback.onbeat}} 16th: {{this.Playback.onsixteenth}}
  </span>
</span>
beatct:
    [{{this.Playback.tickCount}}]
  {{!  [{{@beat.name}}
{{!(interval: {{this.Playback.interval}}
<span class= "p-3 m-5 bg-gray-700">
<button
class="p-1 bg-gray-500 rounded"
{{on "click" this.Playback.decreaseTempo}}>
  -
</button>
<span class= "p-2 m-1 bg-gray-200 text-xs rounded">
BPM : {{@beat.tempo}}
</span>
<button
class="p-1 m-1 bg-gray-500 rounded"
{{on "click" this.Playback.increaseTempo}}>
  +
</button>
</span>

</div>
