<div class="flex">
  <div
  class="w-32 bg-gray-300 rounded"
  {{on "mouseenter" this.showInstrumentSelector}}
  {{on "mouseleave" this.hideInstrumentSelector}}
  >

  {{@channel.sound}}

  {{#if this.isInstrumentSelectorVisable}}
  <div class= "absolute bg-white rounded">
    {{#each this.audio.sounds as |sound|}}
      <button
      class= "p-1 bg-gray-200 text-xs">
      {{sound}}
      </button>
    {{/each}}
  </div>
  {{/if}}
</div>


  <button
    {{on "click" @onDelete}}
    class= "w-5 bg-red-200 rounded">
    ⦻
  </button>

  {{#each @channel.steps as |step|}}
    <StepEditor @step={{step}} />
  {{/each}}

  <button
  {{on "click" this.addStep}}
  class = "p-1 h-6 m-1 bg-gray-200 text-xs rounded">
  +
</button>

</div>
